@{
    ViewBag.Title = "Challan Multiple Location";
    Layout = "~/Areas/Inventory/Views/Shared/_InventoryLayout.cshtml";

    if (false)
    {
    <script src="../../../../Scripts/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/RASolarCustomFunction.js" type="text/javascript"></script>  
    <link href="../../../../Content/RSFERP.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/RSFERPSecurity.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/Site.css" rel="stylesheet" type="text/css" />
    }
}
@section TopMenu
{
    @Html.Partial((String)ViewBag.TopMenu)
}
@section LoginInfo
{
    <table cellpadding="0" cellspacing="0" border="0" style="text-align: right;" width="100%">
        <tr>
            <td style="width: 20%" align="left">
                @ViewBag.ZoneTitle&nbsp; @ViewBag.ZoneName
            </td>
            <td style="width: 20%" align="left">
                @ViewBag.RegionTitle&nbsp; @ViewBag.RegionName
            </td>
            <td style="width: 20%" align="left">
                @ViewBag.UnitTitle&nbsp; @ViewBag.UnitName
            </td>
            <td style="width: 40%" align="left">
                @ViewBag.OpenMonthYear
            </td>
        </tr>
    </table>
}
<input id="hfOpenDay" type="hidden"  value="@ViewBag.OpenDay"/>
<input id="hfOpenBackDay" type="hidden"  value="@ViewBag.OpenBackDay"/>
<input id="hfToLocation" type="hidden" value="0" />
<input id="hfMultipleToLocation" type="hidden" value="0" />
<input id="hfIsInventoryImplemented" type="hidden" value="@ViewBag.IsInventoryImplemented" />
<input id="hfIsChallanLocationNeeded" type="hidden" value="0" />
@Html.Hidden("hfIsItemSeralizable", "0")
@{
    bool InventoryStockUpdateFinishClosed = (bool)ViewBag.InventoryStockUpdateFinishClosed;
}
@if (InventoryStockUpdateFinishClosed == true)
{

    <table cellpadding="0" cellspacing="2" border="0" width="100%">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td colspan="3">
                            <fieldset class="sagGroupBox">
                                <legend>Challan Information</legend>
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td align="left" style="width: 33%;">
                                            <table cellpadding="0" cellspacing="2" border="0">
                                                <tr>
                                                    <td align="left" class="IRCaptionLeftColumn">
                                                        Challan Date
                                                    </td>
                                                    <td align="left">
                                                        @(Html.Telerik().DatePicker().Name("dtpChallanDate").Format("dd-MMM-yyyy").Value(DateTime.Now.Date).Max(new DateTime(2099, 12, 31)).Value(ViewBag.OpenDay))
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="left" style="width: 33%;">
                                            <table cellpadding="0" cellspacing="2" border="0" width="100%">
                                                <tr>
                                                    <td align="left" class="IRCaptionMiddleColumn">
                                                        Sequence No.
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBox("txtSequenceNumber", (string)ViewBag.ChallnSequenceNumberNew, new { @class = "IRControl", @readonly = true })
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="left" style="width: 33%;">
                                            <table cellpadding="0" cellspacing="2" border="0" width="100%">
                                                <tr>
                                                    <td align="left" class="IRCaptionRightColumn">
                                                        Challan No.
                                                    </td>
                                                    <td align="right">
                                                        @Html.TextBox("txtChallanNumber", "", new { @class = "IRControl", @maxLength = 10 })
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <fieldset class="sagGroupBox">
                                <legend>Select Location</legend>
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="width: 33%;" valign="top">
                                            <table cellpadding="0" cellspacing="2" width="100%">
                                                <tr>
                                                    <td align="left" class="IRCaptionLeftColumn">
                                                        Location Type
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownList("ddlLocationType", new SelectList(ViewBag.LocationType, "LocationTypeID", "LocationTypeText"), "--Select--", new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="IRCaptionLeftColumn">
                                                        Zone
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownList("ddlZone", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 33%;" valign="top">
                                            <table cellpadding="0" cellspacing="2" width="100%">
                                                <tr>
                                                    <td align="left" class="IRCaptionMiddleColumn">
                                                        Region
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownList("ddlRegion", Enumerable.Empty<SelectListItem>(), new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="IRCaptionRightColumn">
                                                        Unit
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownList("ddlUnit", Enumerable.Empty<SelectListItem>(), new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 33%;" valign="top">
                                            <table cellpadding="0" cellspacing="2" width="100%">
                                                <tr>
                                                    <td align="left">
                                                        <input id="btnAddToLocationGrid" type="button" value="Add Location" />
                                                    </td>
                                                    <td align="right" style="padding-top: 2px;">
                                                        <input id="btnDistributeSerialToLocation" type="button" value="Item Distribution"
                                                            style="width: 130px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" align="left">
                                                        <input id="btnToLocationGridShow" type="button" value="Show Added Location" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" id="multipleLocationGridContainer">
                                            <div class="DataGridXScrollHeight200">
                                                <table cellpadding="0" cellspacing="0" class="TableData" id="MultipleLocationCollectionGrid"
                                                    style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Location Code
                                                            </th>
                                                            <th>
                                                                Location Name
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <fieldset class="sagGroupBox">
                                <legend>Item Information</legend>
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td align="left" style="width: 33%;">
                                            <table cellpadding="0" cellspacing="2" border="0" width="100%">
                                                <tr>
                                                    <td align="left" class="IRCaptionLeftColumn">
                                                        Item Type
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownList("ddlItemType", new SelectList(ViewBag.ItemType, "ItemTypeID", "Description"), "--Select--", new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="IRCaptionLeftColumn">
                                                        Issue Type
                                                    </td>
                                                    <td>
                                                        @Html.DropDownList("ddlIssueType", Enumerable.Empty<SelectListItem>(), "--Select--",
                                        new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="IRCaptionLeftColumn">
                                                        Item Category
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownList("ddlItemCategory", Enumerable.Empty<SelectListItem>(), "--Select--",
                                        new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        Item
                                                    </td>
                                                    <td>
                                                        @Html.DropDownList("ddlItem", Enumerable.Empty<SelectListItem>(), "--Select--",
                                        new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="left" style="width: 33%;" valign="top">
                                            <table cellpadding="0" cellspacing="2" border="0" width="100%">
                                                <tr>
                                                    <td align="left" class="IRCaptionMiddleColumn">
                                                        Store Location
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownList("ddlStoreLocation", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "IRDropDown" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="IRCaptionMiddleColumn">
                                                        Available Quantity
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBox("txtAvailableQuantity", "", new { @class = "IRControl", @readonly = true })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="IRCaptionMiddleColumn">
                                                        Delivery Quantity
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBox("txtDeliveryQuantity", "", new { @class = "IRControl", @maxlength = 5, @onblur = "CheckDeliveryQuantity()" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="IRCaptionMiddleColumn">
                                                        Serial Quantity
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBox("txtSerialQuantity", "", new { @class = "IRControl", @readonly = true })
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="left" style="width: 33%;" valign="top">
                                            <table cellpadding="0" cellspacing="2" border="0" width="100%">
                                                <tr>
                                                    <td align="right" style="padding-top: 2px;">
                                                        <input id="btnChallanItemAddToGrid" type="button" value="Add Item" style="width: 180px;" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <fieldset class="sagGroupBox">
                    <legend>Serial Information</legend>
                    <table cellpadding="0" cellspacing="2" border="0" width="100%">
                        <tr>
                            <td align="left" style="width: 33%;">
                                <table cellpadding="0" cellspacing="2" border="0" width="100%">
                                    <tr>
                                        <td align="left" class="IRCaptionLeftColumn">
                                            Serial No
                                        </td>
                                        <td align="left" id="SerialContainer" valign="top">
                                            @Html.DropDownList("ddlAvailAbleItemSerials", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "IRDropDown" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td align="left" style="width: 33%;" valign="top">
                                <table cellpadding="0" cellspacing="2" border="0" width="100%">
                                    <tr>
                                        <td align="left" class="IRCaptionMiddleColumn">
                                            Total Serial Quantity
                                        </td>
                                        <td align="left">
                                            @Html.TextBox("txtTotalSerialQuantity", "", new { @readonly = "readonly" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td align="left" style="width: 33%;">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td colspan="2" align="right">
                                            <input id="btnSerialMap" type="button" value="MAP Serial" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="right">
                                            <input id="btnShowAddedSerial" type="button" value="Show Added Serial" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" id="serialGridContainer">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="color: Red; padding: 5px; font-weight: bold; font-size: 13px;" id="serialMessage">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%">
                                            <div class="DataGridXScrollHeight200">
                                                <table class="TableData" cellpadding="0" cellspacing="0" id="serialGrid" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Item Code
                                                            </th>
                                                            <th align="center">
                                                                Serial No
                                                            </th>
                                                            <th align="center">
                                                                Status
                                                            </th>
                                                            <th align="center">
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td id="multipleLocationChallanGridContainer">
                            <div class="DataGridXScroll">
                                <table id="challanGridForMultipleLocation" class="TableData" width="100%">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <input id="btnSubmit" type="button" value="Submit" onclick="return SaveIssueItem();" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="issueItemSerials">
                <table class="TableData" cellpadding="0" cellspacing="0" id="SerialCollectionGrid"
                    width="100%">
                    <thead>
                        <tr>
                            <th align="center">
                                Item Code
                            </th>
                            <th align="center">
                                Serial No
                            </th>
                            <th align="center">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="display: none;">
            <td>
                <input id="txtHiddenItemModelCapacity" type="text" />
            </td>
        </tr>
    </table>
 
}
else
{ 
    <p style="background: #ffff99; font-size: 15px; font-weight: bold;">
        Pleae Update Store Position Before Challan
    </p>
}
<script type="text/javascript">

    $('#serialMessage').text("");

    $('#serialGridContainer').css('display', 'none');
    $('#issueItemSerials').css('display', 'none');
    $('#multipleLocationGridContainer').css("display", "none");

    $('#ddlZone').attr("disabled", true);
    $('#ddlRegion').attr("disabled", true);
    $('#ddlUnit').attr("disabled", true);

    $(document).ready(function () {

        $('#ddlItemType').change(function () {

            var itemType = $('#ddlItemType').val();

            $('#ddlItemCategory').get(0).length = 0;
            $('#ddlItemCategory').get(0).options[0] = new Option("--Select--", "");

            $('#ddlItem').get(0).length = 0;
            $('#ddlItem').get(0).options[0] = new Option("--Select--", "");

            $('#ddlStoreLocation').get(0).length = 0;
            $('#ddlStoreLocation').get(0).options[0] = new Option("--Select--", "");

            $('#ddlAvailAbleItemSerials').get(0).length = 0;
            $('#ddlAvailAbleItemSerials').get(0).options[0] = new Option("--Select--", "");

            $('#txtAvailableQuantity').val("");
            $('#txtDeliveryQuantity').val("");
            $('#txtTotalSerialQuantity').val("");

            $.ajax({
                type: 'POST',
                url: '@Url.Action("IssueTypeList", "InventoryDailyTransaction")',
                data: "{'itemTypeId':'" + itemType + "'}",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $('#ddlIssueType').get(0).length = 0;
                    $('#ddlIssueType').get(0).options[0] = new Option("--Select--", "");

                    $.map(data, function (item) {

                        if (item.Value == "ISSTOOTRUT" || item.Value == "ISSTOZNLOF")
                            $('#ddlIssueType').get(0).options[$('#ddlIssueType').get(0).length] = new Option(item.Display, item.Value);
                    });
                },
                error: function () { alert("Connection Failed. Please Try Again."); }
            });
        });

        $('#ddlIssueType').change(function () {

            var issueTypeId = $('#ddlIssueType').val();

            if ($('#ddlLocationType').val() == "unit") {
                if ($('#ddlIssueType').val() != "ISSTOOTRUT") {
                    alert("For Unit Challan Issue Type Must Be To Other Unit");
                    $('#ddlIssueType').val("");
                    return false;
                }
            }
            else if ($('#ddlLocationType').val() == "zone") {
                if ($('#ddlIssueType').val() != "ISSTOZNLOF") {
                    alert("For Unit Challan Issue Type Must Be To Zonal Office");
                    $('#ddlIssueType').val("");
                    return false;
                }
            }

            $('#ddlItemCategory').get(0).length = 0;
            $('#ddlItemCategory').get(0).options[0] = new Option("--Select--", "");

            $('#ddlItem').get(0).length = 0;
            $('#ddlItem').get(0).options[0] = new Option("--Select--", "");

            $('#ddlStoreLocation').get(0).length = 0;
            $('#ddlStoreLocation').get(0).options[0] = new Option("--Select--", "");

            $('#ddlAvailAbleItemSerials').get(0).length = 0;
            $('#ddlAvailAbleItemSerials').get(0).options[0] = new Option("--Select--", "");

            $('#txtAvailableQuantity').val("");
            $('#txtDeliveryQuantity').val("");
            $('#txtTotalSerialQuantity').val("");

            var itemTypeId = $('#ddlItemType').val();

            $('#ddlItem').get(0).options.length = 0;
            $('#ddlItem').get(0).options[0] = new Option('--Select--', '');

            $.ajax({

                type: 'POST',
                url: '@Url.Action("ItemCategoryList", "InventoryDailyTransaction")',
                data: "{'itemTypeId':'" + itemTypeId + "','transactionType':'" + issueTypeId + "'}",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $('#ddlItemCategory').get(0).options.length = 0;
                    $('#ddlItemCategory').get(0).options[0] = new Option('--Select--', '');

                    $.map(data, function (item) {
                        $('#ddlItemCategory').get(0).options[$('#ddlItemCategory').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                },
                error: function () { alert("Please Map Serial First"); }
            });


            $.ajax({

                type: 'POST',
                url: '@Url.Action("StoreLocationList", "InventoryDailyTransaction")',
                data: "{'itemTypeId':'" + itemTypeId + "','transactionType':'" + issueTypeId + "'}",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $('#ddlStoreLocation').get(0).options.length = 0;
                    $('#ddlStoreLocation').get(0).options[0] = new Option('--Select--', '');

                    $.map(data, function (item) {
                        $('#ddlStoreLocation').get(0).options[$('#ddlStoreLocation').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                },
                error: function () { alert("Item Does Not Load"); }
            });


            $('#txtDeliveryQuantity').val("");
        });

        $('#ddlItemCategory').change(function () {

            var itemCategory = $(this).val();
            var itemTransType = $('#ddlIssueType').val();

            $('#ddlItem').get(0).length = 0;
            $('#ddlItem').get(0).options[0] = new Option("--Select--", "");

            $('#ddlAvailAbleItemSerials').get(0).length = 0;
            $('#ddlAvailAbleItemSerials').get(0).options[0] = new Option("--Select--", "");

            $('#ddlStoreLocation').val("");
            $('#txtAvailableQuantity').val("");
            $('#txtDeliveryQuantity').val("");
            $('#txtTotalSerialQuantity').val("");

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ItemList", "InventoryDailyTransaction")',
                data: "{'itemCategory':'" + itemCategory + "','itemTransType':'" + itemTransType + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {

                    $('#ddlItem').get(0).options.length = 0;
                    $('#ddlItem').get(0).options[0] = new Option('--Select--', '');

                    $.map(data, function (item) {
                        $('#ddlItem').get(0).options[$('#ddlItem').get(0).options.length] = new Option(item.Display, item.Value);
                    });

                    if (data[0].IsItASerializableItem == "1") {
                        $('#btnSerialMap').attr('disabled', false);
                        $('#ddlAvailAbleItemSerials').attr('disabled', false);
                    }
                    else {
                        $('#btnSerialMap').attr('disabled', true);
                        $('#ddlAvailAbleItemSerials').attr('disabled', true);
                    }
                },
                error: function () {
                    alert("Connection Failed. Please Try Again.");
                }
            });

        });

        $('#ddlItem').change(function () {

            if (this.value == "")
                return false;

            $('#txtDeliveryQuantity').val("");
            $('#txtTotalSerialQuantity').val("");

            if ($('#ddlStoreLocation').val() != "")
                AvailAbleItemQuantity();
            else
                $('#txtAvailableQuantity').val("");

            $('#serialMapForMRR').css('display', 'none');
            $('#ddlAvailAbleItemSerials').val("");
            $('#txtSerialQuantity').val("");

            $('#ddlAvailAbleItemSerials').get(0).length = 0;
            $('#ddlAvailAbleItemSerials').get(0).options[0] = new Option("--Select--", "");
        });

        $('#ddlStoreLocation').change(function () {

            if ($('#ddlItem').val() == "") {
                alert("Please Select An Item");
                this.value = "";
                return false;
            }

            $('#txtDeliveryQuantity').val("");
            $('#txtTotalSerialQuantity').val("");

            if ($('#ddlStoreLocation').val() != "")
                AvailAbleItemQuantity();
            else
                $('#txtAvailableQuantity').val("");

            $('#serialMapForMRR').css('display', 'none');
            $('#ddlAvailAbleItemSerials').val("");
            $('#txtSerialQuantity').val("");

            $('#ddlAvailAbleItemSerials').get(0).length = 0;
            $('#ddlAvailAbleItemSerials').get(0).options[0] = new Option("--Select--", "");
        });

        $('#ddlLocationType').change(function () {

            var LocationType = $('#ddlLocationType').val();

            if (LocationType == "zone") {
                $('#ddlZone').attr("disabled", false);
                $('#ddlRegion').attr("disabled", true);
                $('#ddlUnit').attr("disabled", true);
                LoadZone(LocationType);
            }
            else if (LocationType == "unit") {
                $('#ddlZone').attr("disabled", false);
                $('#ddlRegion').attr("disabled", false);
                $('#ddlUnit').attr("disabled", false);
                LoadZone(LocationType);
            }
        });

        $('#ddlZone').change(function () {

            if ($('#ddlLocationType').val() == "zone" || $('#ddlLocationType').val() == "") {
                return false;
            }
            LoadRegion(this.value);
        });

        $('#ddlRegion').change(function () {

            if ($('#ddlLocationType').val() == "zone" || $('#ddlLocationType').val() == "") {
                return false;
            }
            LoadUnit(this.value);
        });

        $('#btnAddToLocationGrid').click(function () {
            $('#multipleLocationGridContainer').css("display", "");

            if ($("#challanGridForMultipleLocation thead tr").length > 0) {
                $('#challanGridForMultipleLocation thead').html("");
                $('#challanGridForMultipleLocation tbody').html("");
            }

            AddToLocationGrid();
            return false;
        });

        $('#btnToLocationGridShow').click(function () {
            $('#multipleLocationGridContainer').toggle();
            return false;
        });

        $('#btnSerialMap').click(function () {
            $('#serialGridContainer').css("display", "");
            SerialMappingForItems();
            return false;
        });

        $('#btnShowAddedSerial').click(function () {
            $('#serialGridContainer').toggle();
            return false;
        });

        $('#btnChallanItemAddToGrid').click(function () {

            var itemType = $('#ddlItemType').val();
            var itemCategory = $('#ddlItemCategory').val();
            var item = $('#ddlItem').val();
            var delivarQuantity = $('#txtDeliveryQuantity').val();
            var availableQuantity = $('#txtAvailableQuantity').val();
            var IssueTypeId = $('#ddlIssueType').val();
            var storeLocation = $('#ddlStoreLocation').val();

            if (itemType == "") {
                alert("Please Select Item Type");
                return false;
            }
            else if (itemCategory == "") {
                alert("Please Select Item Category");
                return false;
            }
            else if (item == "") {
                alert("Please Select Item");
                return false;
            }
            else if (availableQuantity == "") {
                alert("Item Quantity Is Not Available For Issue");
                return false;
            }
            else if (parseInt(availableQuantity) <= 0) {
                alert("Item Quantity Is Not Available For Issue");
                return false;
            }
            else if (delivarQuantity == "") {
                alert("Please Give Delivar Quantity");
                return false;
            }
            else if (parseInt(delivarQuantity) <= 0) {
                alert("Please Give Delivar Quantity");
                return false;
            }
            else if (Helper.IsInt(delivarQuantity) == false) {
                alert("Delivar Quantity Cannot Be Negative/Character");
                return false;
            }
            else if (IssueTypeId == "") {
                alert("Please Give Issue Type");
                return false;
            }
            else if (storeLocation == "") {
                alert("Please Give Store Location");
                return false;
            }
            if (parseInt(delivarQuantity) > parseInt(availableQuantity)) {
                alert("Delivar Quantity Cannot Be Greater Than Available Quantity");
                return false;
            }

            var locationGridLength = $('#MultipleLocationCollectionGrid tbody tr').length;

            if (locationGridLength <= 0) {
                alert("Please Select Issue Challan Location");
                return false;
            }

            var itemCode = item.split('-');

            var lengthOfSerialScanTable = $("#serialGrid tbody tr:contains('" + itemCode[0] + "')").length;

            if ($('#btnSerialMap').is(':disabled') == false) {
                if (lengthOfSerialScanTable == 0) {
                    alert("Please MAP The Serial First");
                    return false;
                }
                else if (lengthOfSerialScanTable < parseInt(delivarQuantity)) {
                    alert("Please MAP All Serial First");
                    return false;
                }
            }

            var challanGridColumnLength = $("#challanGridForMultipleLocation thead tr").length;  // Count Number Of Column

            if (challanGridColumnLength <= 0) {
                alert("Please Added Location First, Then Click Distribute Serial Button");
                return false;
            }

            var challanGridLength = $("#challanGridForMultipleLocation tbody tr").find("td:eq(0):contains('" + itemCode[0] + "')").length;  // Count Number Of Rows

            if (challanGridLength > 0) {
                alert("Item (" + itemCode[0] + ") Already Added.");
                return false;
            }

            MultipleLocationGridRowsProcess();

            $('#txtDeliveryQuantity').val("");
            $('#txtTotalSerialQuantity').val("");
            $('#ddlAvailAbleItemSerials').get(0).length = 0;
            $('#ddlAvailAbleItemSerials').get(0).options[0] = new Option("--Select--", "");

            $('#serialGridContainer').css("display", "none");

            return false;
        });

        $('#MultipleLocationCollectionGrid').delegate('a.btnDeleteLocation', 'click', function () {
            if (confirm("Do you Want to Delete Location ?")) {
                $(this).parent().parent().fadeOut('slow').remove();

                if ($("#challanGridForMultipleLocation thead tr").length > 0) {
                    $('#challanGridForMultipleLocation thead').html("");
                    $('#challanGridForMultipleLocation tbody').html("");
                }
            }
            return false;
        });

        $('#btnDistributeSerialToLocation').click(function () {
            $('#multipleLocationGridContainer').css("display", "none");

            if ($("#challanGridForMultipleLocation thead tr").length > 0) {
                return false;
            }

            MultipleLocationGridHeaderProcess();
            return false;
        });

        $('#ddlAvailAbleItemSerials').change(function () {
            AddToSerialTable();
        });

        $('#serialGrid').delegate('a.deleteSerialBtn', 'click', function () {
            //$(this).parent().parent().fadeOut('slow').remove();
            //alert($(this).parent().parent().find('td:eq(0)').text());
            var itemCode = $(this).parent().parent().find('td:eq(0)').text();

            if (confirm("Do you Want to Delete Item (" + itemCode + ") ?")) {
                var challanGridLength = $("#challanGridForMultipleLocation tbody tr").find("td:eq(0):contains('" + $.trim(itemCode) + "')").length;  // Count Number Of Rows

                if (challanGridLength > 0) {
                    alert("Item (" + itemCode + ") Added For Challan. Please Remove This Item First.");
                    return false;
                }

                $(this).parent().parent().fadeOut('slow').remove();
                var totalSerial = parseInt($('#txtTotalSerialQuantity').val());
                totalSerial = totalSerial - 1;
                $('#txtTotalSerialQuantity').val(totalSerial);
            }
            return false;
        });

        $('#challanGridForMultipleLocation').delegate('a.btnDeleteItemDistribution', 'click', function () {

            if (confirm("Do you Want to Delete Serial ?")) {
                var itemCode = $(this).parent().parent().find('td:eq(0)').text();
                $('#serialGrid tbody tr').each(function () {
                    var texto = $(this).find('td:eq(0)').text();

                    if ($.trim(itemCode) == $.trim(texto)) {
                        $(this).remove();
                    }
                });

                $(this).parent().parent().fadeOut('slow').remove();
            }
            return false;
        });
    });

    function MultipleLocationGridHeaderProcess() {

        var theadLocationName = "<tr id=\"headLocationName\"> <th style= \"width:30px; display:none;\" >Item Code</th> <th style= \"width:100px\" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> ";
        theadLocationName = theadLocationName + "<th style= \"width:60px\" >Delivery Quantity</th> <th style= \"width:60px\" > Distribute Quantity </th> ";
        var theadLocationCode = "<tr  id=\"headLocationCode\"> <th style= \"width:30px; display:none;\" > </th> <th style= \"width:100px\" > </th> <th style= \"width:60px\" > </th> <th style= \"width:60px\" > </th> ";
        var theadCounter = 0;

        var locationGridLength = $('#MultipleLocationCollectionGrid tbody tr').length;
        var gridLocation = $('#MultipleLocationCollectionGrid tbody');

        for (theadCounter = 0; theadCounter < locationGridLength; theadCounter = theadCounter + 1) {

            var tr = gridLocation.find("tr:eq(" + theadCounter + ")");
            var locationCode = tr.find('td:eq(0)').text();
            var locationName = tr.find('td:eq(1)').text();
            var addedOrNot = tr.find('td:eq(3)').text();

            theadLocationName = theadLocationName + " <th style= \"width:90px\" > " + locationName + " </th> ";
            theadLocationCode = theadLocationCode + " <th style= \"width:90px\" > " + locationCode + " </th> ";
        }

        theadLocationName = theadLocationName + " <th style= \"width:30px\" >Action</th> ";
        theadLocationCode = theadLocationCode + " <th style= \"width:30px\" >&nbsp;</th> ";

        theadLocationName = theadLocationName + " <th style= \"width:15px; display:none;\" >&nbsp;</th> ";
        theadLocationCode = theadLocationCode + " <th style= \"width:15px; display:none;\" >&nbsp;</th> ";

        theadLocationName = theadLocationName + " </tr> ";
        theadLocationCode = theadLocationCode + " </tr> ";

        $('#challanGridForMultipleLocation thead').append(theadLocationName);
        $('#challanGridForMultipleLocation thead').append(theadLocationCode);
    }

    function MultipleLocationGridRowsProcess() {

        var itemCodeCapacityModel = $('#ddlItem').val().split('-');
        var itemCode = itemCodeCapacityModel[0];
        var itemCapacity = itemCodeCapacityModel[1];
        var itemModel = itemCodeCapacityModel[2];
        var itemName = $('#ddlItem').find('option:selected').text();
        var deliveryQuantity = $('#txtDeliveryQuantity').val();

        var gridColumnLength = $('#MultipleLocationCollectionGrid tbody tr').length;

        if (gridColumnLength <= 0) {
            alert("Please Add Location for Challan");
            return false;
        }

        var gridLength = $('#challanGridForMultipleLocation tbody tr').length;
        var challanGridCounter = 0;

        if (gridLength > 0) {

            var grid = $('#challanGridForMultipleLocation tbody');

            for (challanGridCounter = 0; challanGridCounter < gridLength; challanGridCounter++) {

                var tr = grid.find("tr:eq(" + challanGridCounter + ")");
                var existItemCode = tr.find('td:eq(0)').text();

                if (itemCode == existItemCode) {
                    break;
                }
            }

            if (challanGridCounter < gridLength) {
                alert("Duplicate Item Is Not Accepted For Issue");
                return false;
            }

            challanGridCounter = challanGridCounter - 1;
        }

        var trNew = "";
        var tdNew = "";
        var columnCount = 0;
        var distributeQuantity = 0;

        var locationGrid = $('#MultipleLocationCollectionGrid tbody');

        tdNew = tdNew + "<td style= \"width:30px; display:none;\" > " + itemCode + " </td> ";
        tdNew = tdNew + "<td style= \"width:100px\" > " + itemName + " </td> ";
        tdNew = tdNew + "<td style= \"width:60px; text-align:right;\" > " + deliveryQuantity + " </td> ";
        tdNew = tdNew + "<td style= \"width:60px; text-align:right;\" > " + distributeQuantity + " </td> ";

        for (columnCount = 0; columnCount < gridColumnLength; columnCount++) {

            var locationTr = locationGrid.find("tr:eq(" + columnCount + ")");
            var locationCode = locationTr.find('td:eq(0)').text();

            tdNew = tdNew + "<td style= \"width:90px\" > ";
            tdNew = tdNew + "<input type=\"text\" id=\"challan" + $.trim(locationCode) + $.trim(itemCode) + "\" style=\"width:90px;\" onblur=\"CheckSerialDistributionTotal('" + itemCode + "','" + locationCode + "')\" /> ";
            tdNew = tdNew + "</td> ";
        }
        tdNew = tdNew + "<td style= \"width:30px\" align=\"center\"> <a href=\"#\" id=\"location" + locationCode + "\" class=\"btnDeleteItemDistribution\" >Delete</a> </td> ";

        var isSerializableItem = 0;
        if ($('#btnSerialMap').is(':disabled') == false) {
            isSerializableItem = 1;
        }

        tdNew = tdNew + "<td style= \"width:15px; display:none;\" align=\"center\"> " + isSerializableItem + " </td> ";

        if (challanGridCounter % 2 == 0)
            trNew = "<tr class=\"t-alt\"> ";
        else
            trNew = "<tr> ";

        trNew = trNew + tdNew + "</tr> ";

        if (gridLength > 0)
            $('#challanGridForMultipleLocation tbody tr:first').before(trNew);
        else
            $('#challanGridForMultipleLocation tbody').append(trNew);
    }

    function LoadZone() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadZone", "InventoryDept")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#ddlZone').get(0).options.length = 0;
                $('#ddlZone').get(0).options[0] = new Option("--Select--", "");

                $.map(data, function (item) {
                    $('#ddlZone').get(0).options[$('#ddlZone').get(0).options.length] = new Option(item.Display, item.Value);
                });
            },
            error: function () {
                alert("Failed to load Item");
            }
        });
    }

    function LoadRegion(zoneCode) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadRegion", "InventoryDept")',
            data: "{'zoneCode':'" + zoneCode + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#ddlRegion').get(0).options.length = 0;
                $('#ddlRegion').get(0).options[0] = new Option("--Select--", "");

                $.map(data, function (item) {
                    $('#ddlRegion').get(0).options[$('#ddlRegion').get(0).options.length] = new Option(item.Display, item.Value);
                });
            },
            error: function () {
                alert("Failed to load Item");
            }
        });
    }

    function LoadUnit(regionCode) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadUnit", "InventoryDept")',
            data: "{'regionCode':'" + regionCode + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#ddlUnit').get(0).options.length = 0;
                $('#ddlUnit').get(0).options[0] = new Option("--Select--", "");

                $.map(data, function (item) {
                    $('#ddlUnit').get(0).options[$('#ddlUnit').get(0).options.length] = new Option(item.Display, item.Value);
                });
            },
            error: function () {
                alert("Failed to load Item");
            }
        });
    }

    function AddToLocationGrid() {

        var locationCode = "";
        var location = "";

        if ($('#ddlLocationType').val() == "zone") {

            if ($('#ddlZone').val() == "") {
                alert("Please Select Zone");
                return false;
            }

            locationCode = $('#ddlZone').val();
            location = $('#ddlZone').find('option:selected').text().split(']')[1];
        }
        else if ($('#ddlLocationType').val() == "unit") {

            if ($('#ddlZone').val() == "") {
                alert("Please Select Zone");
                return false;
            }
            else if ($('#ddlRegion').val() == "") {
                alert("Please Select Region");
                return false;
            }
            else if ($('#ddlUnit').val() == "") {
                alert("Please Select Unit");
                return false;
            }

            locationCode = $('#ddlUnit').val();
            location = $('#ddlUnit').find('option:selected').text().split(']')[1];
        }

        var gridLength = $('#MultipleLocationCollectionGrid tbody tr').length;
        var i = 0;

        var grid = $('#MultipleLocationCollectionGrid tbody');

        for (i = 0; i < gridLength; i++) {

            var tr = grid.find("tr:eq(" + i + ")");
            var locationAlreadyHave = tr.find('td:eq(0)').text();

            if (locationCode == locationAlreadyHave) {
                break;
            }
        }

        if (i < gridLength) {
            alert('This Location Is Already Added');
            return false;
        }

        i = i - 1;

        var trNew = "";

        if (i % 2 == 0)
            trNew = "<tr class=\"t-alt\"> <td>" + locationCode + "</td>";
        else
            trNew = "<tr> <td>" + locationCode + "</td>";

        trNew = trNew + "<td>" + location + "</td>";
        trNew = trNew + "<td align=\"center\"> <a href=\"#\" id=\"" + locationCode + "\" class=\"btnDeleteLocation\" >Delete</a> </td> ";

        if (gridLength > 0)
            $('#MultipleLocationCollectionGrid tbody tr:first').before(trNew);
        else
            $('#MultipleLocationCollectionGrid tbody').append(trNew);
    }

    function AvailAbleItemQuantity() {

        var itemCodeCapacityModel = $('#ddlItem').val().split('-');
        var itemCode = itemCodeCapacityModel[0];
        var storeLocation = $('#ddlStoreLocation').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AvailAbleStoreItemQuantity", "InventoryDailyTransaction")',
            data: "{'itemCode':'" + itemCode + "','storeLocation':'" + storeLocation + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            cache: false,
            success: function (data) {
                $('#txtAvailableQuantity').val(data[0].AvailableQuantity);
                $('#txtHiddenItemModelCapacity').val(data[0].ItemName + ',' + data[0].ItemCapacityName + ',' + data[0].ItemModelName);
            },
            error: function () {
                alert("Connection Failed. Please Try Again.");
            }
        });

        var ss = $('#txtAvailableQuantity').val();
    }


    function SerialMappingForItems() {

        var storeLocation = $('#ddlStoreLocation').val();
        var delivarQuantity = $('#txtDeliveryQuantity').val();
        var availableQuantity = $('#txtAvailableQuantity').val();
        var itemCode = $('#ddlItem').val();

        if (itemCode == "") {
            alert("Please Select An Item For Issue");
            return false;
        }
        else if (storeLocation == "") {
            alert("Please Select Store Location");
            return false;
        }
        else if (availableQuantity == "") {
            alert("Item Quantity Is Not Available For Issue");
            return false;
        }
        else if (parseInt(availableQuantity) <= 0) {
            alert("Item Quantity Is Not Available For Issue");
            return false;
        }
        else if (delivarQuantity == "") {
            alert("Please Give Delivar Quantity");
            return false;
        }
        else if (parseInt(delivarQuantity) <= 0) {
            alert("Please Give Delivar Quantity");
            return false;
        }
        else if (Helper.IsInt(delivarQuantity) == false) {
            alert("Delivar Quantity Cannot Be Negative/Character");
            return false;
        }

        if (parseInt(delivarQuantity) > parseInt(availableQuantity)) {
            alert("Delivar Quantity Cannot Be Greater Than Available Quantity");
            return false;
        }

        LoadAvailableSerialForItem(itemCode.split('-')[0], storeLocation);
        $('#serialMapForIssue').css('display', '');

    }

    function LoadAvailableSerialForItem(itemCode, storeLocation) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("LoadAvailableSerialForItem", "InventoryDailyTransaction")',
            data: "{'itemCode':'" + itemCode + "','storeLocation':'" + storeLocation + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            cache: false,
            success: function (data) {

                $('#ddlAvailAbleItemSerials').get(0).options.length = 0;
                $('#ddlAvailAbleItemSerials').get(0).options[0] = new Option('--Select--', '');

                $.map(data, function (item) {
                    $('#ddlAvailAbleItemSerials').get(0).options[$('#ddlAvailAbleItemSerials').get(0).options.length] = new Option(item.Display, item.Value);
                });
            },
            error: function () {
                alert("Connection Failed. Please Try Again.");
            }
        });
    }

    function AddToSerialTable() {

        if ($('#ddlAvailAbleItemSerials').val() == "") {
            return false;
        }

        var itemCode = $('#ddlItem').val();

        if (itemCode == "") {
            alert("Please Select An Item For Issue");
            return false;
        }
        else if ($('#txtDeliveryQuantity').val() == "") {
            alert("Please Give Delivery Quantity");
            return false;
        }

        var challanTr = $("#challanGridForMultipleLocation tbody tr:contains('" + itemCode.split('-')[0] + "')");

        if (challanTr.length > 0) {
            alert("This Item (" + itemCode.split('-')[0] + ") Is Already Added To Challan Grid.\n If you Nedd To Add More Serial, then Please Delete From Challan Grid And MAP Again.");
            return false;
        }

        var deliveryQuantity = $('#txtDeliveryQuantity').val();
        var alreadyScanQuantity = 0;

        if ($('#txtTotalSerialQuantity').val() != "") {
            alreadyScanQuantity = parseInt($('#txtTotalSerialQuantity').val());
        }

        alreadyScanQuantity = alreadyScanQuantity + 1;

        if (parseInt(alreadyScanQuantity) > parseInt(deliveryQuantity)) {
            $('#serialMessage').text("Number of Serial Cannot be Greater Than Available/Delivery Quantity.");
            $('#ddlAvailAbleItemSerials').val("");
            return false;
        }

        var serialNumber = $.trim($('#ddlAvailAbleItemSerials').val());
        var duplicateSerials = $("#serialGrid tbody tr").find("td:eq(1):contains('" + serialNumber + "')").length;

        if (duplicateSerials > 0) {
            $('#serialMessage').text("Duplicate Serial Not Allowed");
            $('#ddlAvailAbleItemSerials').val("");
            return false;
        }

        var totalSerialQuantity = $("#serialGrid tbody tr").length;

        var trNew = "";

        if (totalSerialQuantity % 2 == 0)
            trNew = "<tr class=\"t-alt\"> ";
        else
            trNew = "<tr> ";

        trNew = trNew + "<td>" + itemCode.split('-')[0] + "</td>";
        trNew = trNew + "<td>" + $('#ddlAvailAbleItemSerials').val() + "</td>";
        trNew = trNew + "<td>&nbsp;</td>"; // damage

        trNew = trNew + "<td align=\"center\"> <a href=\"#\" id=\"" + $('#ddlAvailAbleItemSerials').val() + "\" class=\"deleteSerialBtn\" >Delete</a> </td> </tr>";

        var gridLength = $('#serialGrid tbody tr').length;

        if (gridLength > 0)
            $('#serialGrid tbody tr:first').before(trNew);
        else
            $('#serialGrid tbody').append(trNew);

        $('#txtTotalSerialQuantity').val(alreadyScanQuantity);
        $('#ddlAvailAbleItemSerials').val("");
        $('#serialMessage').text("");
    }

    function CheckSerialDistributionTotal(itemCode, locationCode) {

        var valueContent = $.trim($("#challan" + $.trim(locationCode) + $.trim(itemCode)).val());

        if (valueContent == "") {
            return false;
        }
        else if (valueContent == "0") {
            $("#challan" + $.trim(locationCode) + $.trim(itemCode)).val("");
            return false;
        }

        if (Helper.IsInt(valueContent) == false) {
            alert("Distribution Value Can Not Be Character/Negative");
            $("#challan" + $.trim(locationCode) + $.trim(itemCode)).val("");
            return false;
        }

        var columnTotal = $("#challanGridForMultipleLocation thead tr:eq(0) th").length - 2;
        var tr = $("#challanGridForMultipleLocation tbody tr:contains('" + $.trim(itemCode) + "')");
        var serializableOrNot = parseInt($.trim($(tr).find("td:eq(" + (columnTotal + 1) + ")").text()));

        var columnCount = 0;
        var totalDistribution = 0;

        for (columnCount = 4; columnCount < columnTotal; columnCount++) {
            var distributionValue = 0;

            if ($.trim($(tr).find("td:eq(" + columnCount + ")").find('input').val()) != "") {
                distributionValue = parseInt($(tr).find("td:eq(" + columnCount + ")").find('input').val());
            }
            totalDistribution = totalDistribution + distributionValue;
        }

        var totalScanQuantity = $("#serialGrid tbody tr").find("td:eq(0):contains('" + $.trim(itemCode) + "')").length;

        //        if (serializableOrNot == 1) {

        //            if (totalDistribution > totalScanQuantity) {
        //                alert("Distribution Quantity Cnanot Be Greater Than Total MAP Quantity.\nPlease Correctly Give Distribution Quantity For Item (" + itemCode + ")");
        //                $("#challan" + $.trim(locationCode) + $.trim(itemCode)).val("");
        //                return false;
        //            }
        //        }

        var deliveryQuantity = parseInt($.trim($(tr).find("td:eq(2)").text()));

        if (totalDistribution > deliveryQuantity) {
            alert("Distribution Quantity Cnanot Be Greater Than Delivar Quantity.\nPlease Correctly Give Distribution Quantity For Item (" + itemCode + ")");
            $("#challan" + $.trim(locationCode) + $.trim(itemCode)).val("");
            return false;
        }

        $(tr).find('td:eq(3)').text(totalDistribution);
    }

    function CheckDeliveryQuantity() {

        var delivarQuantity = $('#txtDeliveryQuantity').val();

        if (delivarQuantity == "") {
            alert("Please Give Delivar Quantity");
            return false;
        }
        else if (parseInt(delivarQuantity) <= 0) {
            alert("Delivar Quantity Cannot Be Negative");
            $('#txtDeliveryQuantity').val("");
            return false;
        }
        else if (Helper.IsInt(delivarQuantity) == false) {
            alert("Delivar Quantity Cannot Be Negative/Character");
            $('#txtDeliveryQuantity').val("");
            return false;
        }
    }

    function SaveIssueItem() {

        var storeLocation = $('#ddlStoreLocation').val();
        var issueType = $('#ddlIssueType').val();
        var challanSeqNumber = $('#txtSequenceNumber').val();
        var challanNumber = $('#txtChallanNumber').val();
        var challanDate = $('#dtpChallanDate').val();

        var startDate = Helper.DateCange($('#hfOpenBackDay').val());
        var endDate = Helper.DateCange($('#hfOpenDay').val());

        var selectedDate = Helper.DateCange(challanDate);

        if (challanDate == "") {
            alert("Please Give Issue Date");
            return false;
        }
        else if (selectedDate < startDate || selectedDate > endDate) {
            alert("Callan Date Should be in Current Month/Period");
            return false;
        }
        else if (challanNumber == "") {
            alert("Please Give Challan Number");
            return false;
        }
        else if (storeLocation == "") {
            alert("Please Give Store Location");
            return false;
        }

        var componentSequenceNumber = 1, distributionValue = 0;
        var rowCount = 0, columnCount = 0, totalDeliverCountity = 0, totalScanQuantity = 0, chckColumnValuesCount = 0;
        var itemCode = "", itemSerialNumber = "", locationCode = "", serializableOrNot = 0;
        var challanMaster = "", challanDetails = "", challanWithSerials = "", challanWithMultipleLocation = "", challanItemDistribution = "";

        var challanGridRowsLength = $("#challanGridForMultipleLocation tbody tr").length;
        var challanGridColumnLength = $("#challanGridForMultipleLocation thead tr:eq(0) th").length - 2;
        var checkColumnValues = new Array(challanGridColumnLength - 3);
        var thead = $("#challanGridForMultipleLocation thead tr:eq(1)");

        for (rowCount = 0; rowCount < (challanGridColumnLength - 4); rowCount++) {
            checkColumnValues[rowCount] = 0;
        }

        challanMaster = challanMaster + challanSeqNumber + "," + challanDate + "," + storeLocation + "," + challanNumber + "," + issueType;

        for (rowCount = 0; rowCount < challanGridRowsLength; rowCount++) {

            distributionValue = 0;
            totalDeliverCountity = 0;
            chckColumnValuesCount = 0;

            var tr = $("#challanGridForMultipleLocation tbody tr:eq(" + rowCount + ")");
            itemCode = $.trim($(tr).find('td:eq(0)').text());
            serializableOrNot = parseInt($.trim($(tr).find("td:eq(" + (challanGridColumnLength + 1) + ")").text()));

            for (columnCount = 4; columnCount < challanGridColumnLength; columnCount++) {

                distributionValue = 0;

                if ($.trim($(tr).find("td:eq(" + columnCount + ")").find('input').val()) != "") {
                    distributionValue = parseInt($(tr).find("td:eq(" + columnCount + ")").find('input').val());

                    if (checkColumnValues[chckColumnValuesCount] == 0) {
                        checkColumnValues[chckColumnValuesCount] = 1;
                    }
                }

                chckColumnValuesCount = chckColumnValuesCount + 1;

                if (distributionValue == 0) { continue; }

                totalDeliverCountity = totalDeliverCountity + distributionValue;
            }

            totalScanQuantity = $("#serialGrid tbody tr").find("td:eq(0):contains('" + itemCode + "')").length;

            if (serializableOrNot == 1) {
                if (totalDeliverCountity > totalScanQuantity) {
                    alert("Distribution Quantity Cnanot Be Greater Than Total MAP Quantity.\nPlease Correctly Give Distribution Quantity For Item (" + itemCode + ")");
                    break;
                }
                else if (totalDeliverCountity < totalScanQuantity) {
                    alert("Total Distribution Quantity Cnanot Be Less Than Total MAP/Deliver Quantity.\nPlease Correctly Give Distribution Quantity For Item (" + itemCode + ")");
                    break;
                }
            }

            if (challanDetails != "") {
                challanDetails = challanDetails + "#" + challanSeqNumber + "," + componentSequenceNumber + "," + itemCode + "," + totalDeliverCountity + "," + storeLocation;
            }
            else {
                challanDetails = challanDetails + challanSeqNumber + "," + componentSequenceNumber + "," + itemCode + "," + totalDeliverCountity + "," + storeLocation;
            }

            componentSequenceNumber = componentSequenceNumber + 1;
        }

        if (rowCount != challanGridRowsLength)
        { return false; }

        chckColumnValuesCount = 1;
        for (rowCount = 0; rowCount < (challanGridColumnLength - 4); rowCount++) {

            if (checkColumnValues[rowCount] == 0) {
                chckColumnValuesCount = 0;
                break;
            }
        }

        if (chckColumnValuesCount == 0) {
            alert("One Or More Location Challan Quantity Do Not Give.\nPlease Properly Distribute Challan Vlaue To Each Location.");
            return false;
        }

        var challanSerialGridRowsLength = $("#serialGrid tbody tr").length;
        componentSequenceNumber = 0;
        var itemCodeSequence = "";

        for (rowCount = 0; rowCount < challanSerialGridRowsLength; rowCount++) {

            var tr = $("#serialGrid tbody tr:eq(" + rowCount + ")");

            itemCode = $.trim($(tr).find('td:eq(0)').text());
            componentSequenceNumber = $("#challanGridForMultipleLocation tbody tr:contains('" + $.trim(itemCode) + "')").index();
            componentSequenceNumber = componentSequenceNumber + 1;

            itemSerialNumber = $.trim($(tr).find('td:eq(1)').text());

            if (challanWithSerials != "") {
                challanWithSerials = challanWithSerials + "#" + challanSeqNumber + "," + componentSequenceNumber + "," + itemCode + "," + itemSerialNumber + "," + storeLocation;
            }
            else {
                challanWithSerials = challanWithSerials + challanSeqNumber + "," + componentSequenceNumber + "," + itemCode + "," + itemSerialNumber + "," + storeLocation;
            }
        }

        itemCodeSequence = "";
        for (columnCount = 4; columnCount < challanGridColumnLength; columnCount++) {

            componentSequenceNumber = 0;
            locationCode = $.trim($("#challanGridForMultipleLocation thead tr:eq(1)").find("th:eq(" + columnCount + ")").text());

            for (rowCount = 0; rowCount < challanGridRowsLength; rowCount++) {

                distributionValue = 0;

                var tr = $("#challanGridForMultipleLocation tbody tr:eq(" + rowCount + ")");

                if ($.trim($(tr).find("td:eq(" + columnCount + ")").find('input').val()) != "") {
                    distributionValue = parseInt($(tr).find("td:eq(" + columnCount + ")").find('input').val());
                }
                3
                componentSequenceNumber = componentSequenceNumber + 1;

                if (distributionValue == 0) { continue; }

                itemCode = $.trim($(tr).find('td:eq(0)').text());

                if (challanItemDistribution != "") {
                    challanItemDistribution = challanItemDistribution + "#" + locationCode + "," + challanSeqNumber + "," + componentSequenceNumber + "," + itemCode + "," + distributionValue;
                }
                else {
                    challanItemDistribution = challanItemDistribution + locationCode + "," + challanSeqNumber + "," + componentSequenceNumber + "," + itemCode + "," + distributionValue;
                }
            }

            if (challanWithMultipleLocation != "") {
                challanWithMultipleLocation = challanWithMultipleLocation + "#" + locationCode + "," + challanSeqNumber;
            }
            else {
                challanWithMultipleLocation = challanWithMultipleLocation + locationCode + "," + challanSeqNumber;
            }
        }
       
        $.ajax({

            type: 'POST',
            url: '@Url.Action("SaveMRRWithaChallanWithMultipleLocation", "InventoryDailyTransaction")',
            data: "{'challanMaster':'" + challanMaster + "','challanDetails':'" + challanDetails + "','challanWithSerials':'" + challanWithSerials + "','challanWithMultipleLocation':'" + challanWithMultipleLocation + "','challanItemDistribution':'" + challanItemDistribution + "','itemType':'" + $('#ddlItemType').val() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            cache: false,
            success: function (data) {

                if (data[0].messageCode == "success") {
                    alert(data[0].message);
                    ClearAllControl();

                    $('#txtSequenceNumber').val(data[0].id);
                }
                else {
                    alert(data[0].message);
                }
            },
            error: function () {
                alert("Connection Failed. Please Try Again");
            }

        });

        return false;
    }

    function ClearAllControl() {

        $('#ddlItemType').val("");
        $('#ddlItemCategory').val("");
        $('#ddlItem').val("");
        $('#txtDeliveryQuantity').val("");
        $('#txtAvailableQuantity').val("");
        $('#ddlIssueType').val("");
        $('#ddlStoreLocation').val("");
        $('#ddlLocationType').val("");
        $('#ddlZone').val("");
        $('#ddlRegion').val("");
        $('#ddlUnit').val("");

        $('#txtAvailableQuantity').val("");
        $('#txtChallanNumber').val("");

        $('#challanGridForMultipleLocation thead').html("");
        $('#challanGridForMultipleLocation tbody').html("");
        $('#serialGrid tbody').html("");
        $('#MultipleLocationCollectionGrid tbody').html("");
    }

    function RSFMenu(goFor) {
        window.location.replace(Helper.Menu("../../", goFor));
        return false;
    } 

</script>
