@model IEnumerable<RASolarERP.Model.SystemReturnOrFullPaidCustomers>
@{
    ViewBag.Title = "System Return and Full Paid Customer View";

    Layout = "~/Areas/Sales/Views/Shared/_SalesLayout.cshtml";

    if (false)
    {
    <script src="../../../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/RASolarCustomFunction.js" type="text/javascript"></script>      
    }
}
@section TopMenu
{
    @Html.Partial((String)ViewBag.TopMenu)
}
@section LoginInfo
{
    <table cellpadding="0" cellspacing="0" border="0" style="text-align: right;" width="100%">
        <tr>
            <td style="width: 20%" align="left">
                @ViewBag.ZoneTitle&nbsp; @ViewBag.ZoneName
            </td>
            <td style="width: 20%" align="left">
                @ViewBag.RegionTitle&nbsp; @ViewBag.RegionName
            </td>
            <td style="width: 20%" align="left">
                @ViewBag.UnitTitle&nbsp; @ViewBag.UnitName
            </td>
            <td style="width: 40%" align="left">
                @ViewBag.OpenMonthYear
            </td>
        </tr>
    </table>
}
@using (Html.BeginForm("SystemReturnCustomersReview", "SystemReturns", FormMethod.Post, null))
{ 
@*    @Html.Hidden("hfReportMode", (bool)ViewBag.HideReportMode)
    @Html.Hidden("hfSystemReturnOrFullpaid", (string)ViewBag.HideSystemReturnOrFullPaid)*@
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id="reportMode">
        <tr>
            <td>
                Customer Type:
            </td>
            <td align="left" class="IsrlMiddleColumn">
                @Html.DropDownList("ddlReportMode", new List<SelectListItem> { 
                    new SelectListItem { Text = "System Return", Value = "8" },
                    new SelectListItem{Text="Full Paid", Value="5"},
                    new SelectListItem { Text = "Cash", Value= "6"},
                    new SelectListItem { Text = "DRF Collected", Value= "DRF"}
            }, new { @style = "width:150px;" })
            </td>
            <td align="right" width="15%">
                Start Month
            </td>
            <td align="right" width="15%">
                @(Html.Telerik().DatePicker()
                .Name("txtStartDate")
                .Max(new DateTime(2999, 12, 31))
                .Value(@ViewBag.fromDate)
                .Format("dd-MMM-yyyy")
                )
            </td>
            <td align="right" width="15%">
                End Month
            </td>
            <td align="right" width="15%">
                @(Html.Telerik().DatePicker()
                .Name("txtEndDate")
                .Max(new DateTime(2999, 12, 31))
                .Value(@ViewBag.toDate)
                .Format("dd-MMM-yyyy")
            )
            </td>
        </tr>
        <tr>
            <td align="left">
                <input type="submit" value="Show Report" id="btnSystemReturnCustomerReview" />
            </td>
        </tr>
    </table>
}
<div class="DataGridXScroll">
    @(Html.Telerik().Grid(Model)
    .Name("gvFullPaidSystemReturnCustomers")
    .DataKeys(keys => keys.Add(k => k.CustomerCode))
    .Columns(column =>
    {
        column.Bound(c => c.CustomerCode).Format("{0:0}").Template(@<a href="#" onclick="return ShowCustomerLedger('@item.CustomerCode')">@item.CustomerCode</a>).Title("Customer Code").Width(80);
        column.Bound(c => c.CustomerName).Format("{0:0}").Width(180);
        column.Bound(c => c.AgreementDate).Format("{0:dd-MMM-yyyy}").Width(90);
        column.Bound(c => c.NoOfMonthAtCustomerEnd).HtmlAttributes(new { @class = "GridColumnRightAlign" });
        column.Bound(c => c.Package).Width(180);
        column.Bound(c => c.OverdueOrAdvanceBalance).Format("{0:0}").HtmlAttributes(new { @class = "GridColumnRightAlign" });
        column.Bound(c => c.OutstandingBalance).Format("{0:0}").HtmlAttributes(new { @class = "GridColumnRightAlign" });
        column.Bound(c => c.ReasonForSystemReturn).Title("Reason").Width(200);
    })
                .Selectable()
                .Footer(false)
            //.DataBinding(dbBinding => dbBinding.Ajax().Select("__LoadSystemReturnOrFullPaid", "SystemReturns"))
            //.ClientEvents(events =>
            //{
            //    events.OnDataBinding("onDataBinding")
            //    .OnError("onError");
            //})

            )
</div>
<table cellpadding="0" cellspacing="0" border="0" style="text-align: right;" width="100%">
    <tr>
        <td id="CustomerLedgerContainer" style="width: 100%">
        </td>
    </tr>
</table>
<script type="text/javascript">

//    if ($('#hfSystemReturnOrFullpaid').val() == "sr") {
//        $(":radio[value=sr]").attr("checked", 'checked')
//    }
//    else if ($('#hfSystemReturnOrFullpaid').val() == "fp") {
//        $(":radio[value=fp]").attr("checked", 'checked')
//    }

//    if ($('#hfReportMode').val() == "False") {S
//        $('#reportMode').hide();
//    }

    function ShowCustomerLedger(customerCode) {
        $('#customerCollectionTr').css('display', 'none');
        $('#systemReturnContainer').css('display', 'none');
        $('#fullPaidCustomerContainer').css('display', 'none');
        $('#customerTransferTr').css('display', 'none');

        $.ajax({
            type: 'GET',
            url: '@Url.Action("CustomerLedger", "CustomerRegister")',
            data: { customerCode: customerCode },
            dataType: 'html',
            cache: false,
            success: function (data) {
                $('#CustomerLedgerContainer').html(data);
            },
            error: function () {
                alert("Connection Failed. Please Try Again");
            }
        });
    }

    function RSFMenu(goFor) {
        window.location.replace(Helper.Menu("../../", goFor));
        return false;
    }

</script>
